body {
    background-image: url(images/flowerbg2.jpg);
    color: #FFFFFF;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #55555;
}
.button {
    background-color: #F9E66F;
    border: none;
    color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}

 .button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


div {
    padding-left: 20px;
    padding-right: 20px;
}
.active{
    background-color: #F8E68F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}
